<select :value="selectedArchComponent" @change="onSelectionChanged">
  <option disabled value="">Please select one</option>
  <option value="facade">facade</option>
  <option value="molding">molding</option>
  <option value="cornice">cornice</option>
  <option value="pillar">pillar</option>
  <option value="window">window</option>
  <option value="door">door</option>
  <option value="sill">sill</option>
  <option value="blind">blind</option>
  <option value="balcony">balcony</option>
  <option value="shop">shop</option>
  <option value="deco">deco</option>
</select>
